.image-update-container {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 650px;
  width: 800px;
  z-index: 999;
  background: white;
  border: 1px solid;
  border-color: rgba(232, 236, 241, 1);

  .dropzone {
    outline: none;
    min-height: 533px;
    border: 0px solid;
    width: 100%;
  }
  .upload-text {
    text-align: right;
    color: rgba(65, 131, 215, 1);
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
  }

  .text-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  .image-text {
    font-size: 20px;
  }

  .image-upload {
    z-index: 100;
  }
  .confirmation-wrapper {
    position: absolute;
    text-align: right;
    left: 0;
    bottom: 0;
    height: 64px;
    width: 100%;
    border-top: 1px solid;
    border-color: rgba(232, 236, 241, 1);
  }
  .submit-button {
    padding: 0;
    margin: 0;
  }
}
