.image-upload-container {
  min-height: 533px;
  background: white;
  width: 100%;
  border: 1px solid;
  border-color: rgba(228, 233, 237, 0.8);
  max-width: 1000px;

  .dropzone {
    outline: none;
    min-height: 500px;
    background: white;
    border: 0px solid;
    width: 100%;
  }
  .upload-text {
    text-align: right;
    color: rgba(65, 131, 215, 1);
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
  }

  .text-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  .image-upload-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .image-text {
    font-size: 20px;
  }

  .image-upload {
    z-index: 100;
  }
}
