.collection-item {
  width: 57vh;
  display: flex;
  flex-direction: column;
  height: 300px;
  align-items: center;
  position: relative;
  padding:12px;
  margin-bottom: 20px;

  .image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }

  .image-arrow-right {
    position:absolute;
    top:125px;
    right:10px;
    display:none;
  }

  .image-arrow-left {
    position:absolute;
    top:125px;
    left:10px;
    display:none;
  }


.selection-menu {
  position: absolute;
  top: 219px;
  right:12px;
  height:50px;
  width:23px;
  background-color: rgb(220, 220, 220);
  opacity: 0.5;
  display: none;
}

.addcircle {
position: absolute;
width:5%;
top: 219px;
right:13px;
display: none;
}

.view-show {
position: absolute;
opacity:1;
width:4%;
top: 243px;
right:15px;
display: none;

}

  &:hover {
    .image {
      opacity:0.9;
    }
    .image-arrow-left {
      display: flex;
    }
    .image-arrow-right {
      display: flex;
    }

    .selection-menu {

}
     .addcircle {
      display: flex;
    }
    .view-show {
      opacity: 1;
      display: flex;
    }

  }

  .model-manufacturer {
    display: flex;
    flex-direction: column;

}

  .collection-footer {
    width: 80%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    .name {
      width: 90%;
      margin-bottom: 0px;
    }

    .price {
      width: 15%;
    }
  }
}