.collection-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 330px;
  width: 340px;
  margin: 14px;
  border: 1px solid transparent;

  &:hover {
    border: 1px solid rgba(128, 128, 128, 0.1);
    border-radius: 0px 0px 4px 4px;
    .image-arrows {
      transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
      opacity: 1;
    }
    .bookmark-wrapper {
      opacity: 1;
    }
  }

  .collection-item-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
    max-height: 250px;
    width: 100%;
  }
}
.arrow-container {
  width: 340px;
  position: absolute;
  margin-top: auto;
  top: 125px;
  margin-bottom: auto;

  .image-arrows {
    display: flex;
    justify-content: space-between;
    opacity: 0;
  }
}

.bookmark-wrapper {
  position: absolute;
  right: 0;
  opacity: 0;
  background-color: white;
  padding: 2px;
  border: 1px solid;
  border-color: rgba(128, 128, 128, 0.1);

  z-index: 99999;

  .bookmark {
    margin: 0 auto;
  }
}

.description-items {
  display: flex;
  width: 100%;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  color: rgba(51, 51, 51, 0.3);
  font-size: 0.7rem;
  padding-right: 10px;

  .description-items-title {
    padding: 3px;
  }
}
.collection-item-condition {
  position: absolute;
  background: rgb(51, 51, 51);
  color: white;
  padding: 1px;
}

.model-manufacturer {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.collection-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;

  .collection-menu-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding-right: 3px;

    .collection-item-circle {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid;
      border-radius: 100%;
      width: 2rem;
      height: 2rem;
    }

    .collection-item-date {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .collection-menu-item-title {
      font-weight: 100;
      font-size: 0.75rem;
      text-align: center;
    }
  }

  .collection-footer {
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 5px;
    font-size: 13px;

    .manufacturer-name {
      font-weight: bold;
      width: 100%;
      letter-spacing: 1px;
      padding: 0px;
      margin: 0px;
    }

    .price {
      text-align: center;
      font-size: 10px;
    }
  }
  .icon {
    margin: 0 !important;
  }
}
