.collection-item {
  display: flex;
  flex-direction: row;
  height: 290px;
  max-width: 450px;
  margin: 14px;
  border: 1px solid transparent;

  .image {
    max-width: 80%;
    height: auto;
  }

  &:hover {
    border: 1px solid rgba(128, 128, 128, 0.1);
    border-radius: 4px;

    .navigation-arrows {
      display: flex;
      justify-content: center;
      margin: 5px;
    }
    .addcircle {
      display: flex;
      align-self: flex-end;
    }
  }

  .addcircle {
    display: none;
  }

  .navigation-arrows {
    display: none;
  }

  .model-manufacturer {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
  .collection-menu {
    height: auto;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-end;
  }

  .collection-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 10vh;
    padding: 5px;
    font-size: 13px;
    background-color: rgba(128, 128, 128, 0.1);

    .manufacturer-name {
      font-weight: bold;
      padding: 0px;
      margin: 0px;
    }

    .price {
      text-align: center;
      font-size: 10px;
    }
  }
}
