.item-details {
  position: relative;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto;
  align-items: center;
  cursor: pointer;
  width: 100%;
  padding: 3px;
  margin: 3px;
  border-radius: 4px;
  background: rgba(228, 233, 237, 0.2);
  transition: box-shadow 0.3s;
  transition: background 0.3s;

  &:hover {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.024);
    background: rgba(228, 233, 237, 0.45);
  }

  .name {
    display: flex;
    width: auto;
    flex-direction: column;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
  }

  .card-price {
    font-size: 10px;
  }
}
