.spec-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.image-spec-wrapper {
  position: relative;
  display: flex;
  align-self: center;
}

.bicycle {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 1000;
}

.opacity-bicycle {
  position: absolute;
  width: 100%;
  height: 533px;
  height: auto;
  opacity: 0.4;
}

.description-wrapper {
  position: absolute;
  text-align: right;
  right: 5px;
  width: auto;
}

.description {
  width: 34vh;
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 15px;
  background-color: rgba(232, 236, 241, 0.3);
  border: solid 1px;
  border-color: rgba(232, 236, 241, 0.3);
  border-radius: 10px;
}

.view-selections {
  font-weight: normal;
  display: inline-block;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.view-selections::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: rgba(0, 0, 0, 0.2);
  transition: width 0.3s;
}

.view-selections:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.view-selection-container {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-top: 5px;
  width: auto;
}
.view-selection-grid {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, auto);
  grid-gap: 10px;
  width: 100%;
  margin-top: 20px;
}

.view-selection-item {
  display: flex;
  flex-direction: row;
  grid-gap: 20px;
  margin-top: 20px;
}

.selection-label {
  text-align: left;
  font-weight: 100;
  letter-spacing: 1px;
}

.selection-value {
  font-size: 18px;
  min-width: 150px;
  height: 100%;
  word-wrap: break-word;
  text-align: left;
  padding-right: 20px;
}

.side {
  align-self: flex-end;
}
