.carousel-wrapper {
  width: 100vw;
  height: 100vw;
  position: fixed;

  .slider {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    background: white;
  }

  .clear-icon {
    position: absolute;
    top: -10px;
    font-size: 90px !important;
  }

  .slide {
    min-width: 100%;
    height: 80vh;
    transition: 0.5s;
    overflow: hidden;
  }

  .imgStyles {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: 50% 50%;
  }

  %btn-styles {
    height: 40vh;
    max-height: 40vh;
    position: absolute;
    margin-left: auto;
    margin-right: auto;

    width: 7%;
    background: none;
    border: none;
    outline: none;
    transition: 0.5s;
    &:hover {
      background: rgba(232, 236, 241, 0.3);
      cursor: pointer;
    }
    @media screen and (max-width: 550px) {
      width: 12%;
      height: 30vh;
    }
  }
}

#goLeft {
  left: 0;
  @extend %btn-styles;
}

#goRight {
  right: 0;

  @extend %btn-styles;
}
