.sell-form-container {
  position: relative;
  box-shadow: none !important;
  border-radius: 0px !important;
}
.ui.inverted.dimmer {
  background-color: rgba(51, 51, 51, 0.55) !important;
}

.sell-form-nav {
  display: flex;
  flex-direction: column;
  height: auto;
  outline: none;
  list-style-type: none;
}

.form-step-wrapper {
  min-width: 800px;
  height: 800px;
}

.nav-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
  height: 100%;
  width: 110px;
  margin-right: 5px;
  text-align: right;
}
.nav-item {
  align-self: flex-end;
  font-size: 12px;
  padding-bottom: 5px;
  cursor: default;
  color: rgba(0, 0, 0, 0.2);
}
.nav-text {
  padding-bottom: 3px;
}
.active-step {
  width: 100%;
  color: rgba(0, 0, 0, 1);
  font-size: 17px;
}
.submit-nav {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100%;
}
.submit-button {
  font-weight: bold;
}
.MuiButton-textPrimary {
  color: #4183d7;
}
.MuiButton-textPrimary:hover {
  background-color: rgba(61, 120, 172, 0);
}

.MuiButtonBase-root {
  width: 80%;
  border-radius: 6px;
}
.form-error {
  font-size: 10px;
  color: #cc0000;
}
