.sellpage-container {
  @import "~bootstrap/scss/bootstrap.scss";
  min-height: 100vh;
  width: 1300px;
  min-width: 1300px;
  background: rgba(228, 233, 237, 0.2);
  margin: 0 auto;
  z-index: 2;
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: rgba(228, 233, 237, 0.8);

  @media screen and (max-width: 550px) {
    width: 100%;
    min-width: auto;
  }

  .sellpage-name {
    position: absolute;
    color: black;
    top: 0;
    right: 1px;
    background-color: rgb(51, 51, 51);
    color: #f8f8f8;
    font-size: 2.75rem;
    padding: 5px;
    border: 1px solid;
    border-color: rgba(228, 233, 237, 0.8);
  }

  .sellpage-row {
    position: relative;
    width: 100vw;
    max-width: 1300px;
    margin: 0;
    align-items: flex-end;
    padding-left: 46px;
    padding-right: 46px;
    z-index: 2;

    @media screen and (max-width: 550px) {
      padding: 0;
    }
  }

  .sellpage-info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    min-height: 700px;
    padding-left: 0;

    @media screen and (max-width: 550px) {
      padding-left: 10px;
    }

    .sellpage-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      width: 100%;
      padding: 2px;
      margin-bottom: 10px;
      background: white;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
        rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

      .sellpage-item-title {
        display: flex;
        justify-content: flex-start;
        width: 100%;
      }
    }

    .sellpage-control {
      display: flex;
      flex-direction: column;
      height: auto;
      width: auto;

      .sellpage-control-options {
        display: flex;
        align-items: center;
        align-self: center;
        cursor: default;
      }
      .sellpage-goback {
        margin-right: 20px;
      }
      .submit-wrapper {
        position: relative;
        .submit-button {
          width: auto !important;
          min-width: 140px !important;
          z-index: 2;
          background-color: #6a93cb;
          color: white;
          padding: 8px;
          margin: 10px;
          outline: none;
          border: none;
          border-radius: 3px;
        }
      }
    }
  }
  .form-steps-col {
    padding: 0;
  }
  .form-steps {
    padding: 30px;
    align-self: center;
    border-color: rgba(228, 233, 237, 0.8);
    height: 100%;
    width: auto;
    max-width: 912px;
  }
}

.form-error {
  font-size: 10px;
  color: #cc0000;
}
