.manufacturer-wrapper {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  width: 12vw;
}
.manufacturer-wrapper::-webkit-scrollbar {
  display: none;
}

.ui.input {
  font-size: 0.8em;
  margin-bottom: 8px;
}

.manufacturer-checkbox {
  padding: 5px;
  margin-bottom: 4px;
}

button:disabled {
  opacity: 0.8;
  cursor: not-allowed;
  pointer-events: all !important;
}
