.filter-options-item {
	padding: .625rem .75rem;
	border: solid 1px;

}

.filter-container .filter-options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
   }

   .filter-container .filter-options .filter-options-item {
    width: 20%;
}

.filter-options-area {
    display: block;
    position: absolute;

    top: 225px;
    left:185px;

  height: 200px;
  width: 185px;
  border: 1px solid;
  padding: 1rem;
  overflow: hidden;
  z-index: 5;

  background-color: rgb(255, 255, 255, 0.7);
}




