.item-wrapper {
  @import "~bootstrap/scss/bootstrap.scss";
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  width: 100%;
  position: relative;

  .itemview-image-row {
    height: 650px;
    position: relative;

    @media screen and (max-width: 550px) {
      transition: height 0.7s ease-out;
      height: 450px;
    }

    .item-name {
      position: absolute;
      bottom: 0;
      z-index: 200;
      width: auto;
      max-width: 80%;
      background: rgba(51, 51, 51, 1);
      color: white;

      .item-title {
        padding: 3px;
        margin: 7px;
        font-weight: 100;
      }
    }
  }

  .asset-image {
    width: 100vw;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 1;
    overflow: hidden;
    @media screen and (max-width: 550px) {
      transition: height 0.7s ease-out;
      height: 450px;
      width: 550px;
    }
    @media screen and (max-width: 414px) {
      transition: width 0.7s ease-out;
      width: 414px;
    }
    @media screen and (max-width: 375px) {
      transition: width 0.7s ease-out;
      width: 375px;
    }
  }

  .white-break {
    width: 100%;
    z-index: 3;
    background: white;
    height: 105px;
  }

  .item-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    z-index: 3;
    background: white;
    height: 105px;
    border-bottom: solid 1px;
    border-color: rgba(51, 51, 51, 0.4);
    margin: 0 auto;
    width: 70%;
    @media screen and (max-width: 950px) {
      transition: width 1s ease-out;
      width: 100%;
    }

    .header-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0px;

      .size-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid;
        border-color: rgba(51, 51, 51, 0.4);
        border-radius: 100%;
        width: 4rem;
        height: 4rem;
        margin: 0 auto;
      }
    }

    .item-info {
      display: inline-block;
      margin-left: 40px;
    }

    .item-info-title {
      text-align: center;
      letter-spacing: 1px;
      color: rgba(51, 51, 51, 0.4);
    }

    .item-location {
      padding-left: 20px;
      border-left: solid 1px;
    }

    .item-price {
      font-size: 1.65rem;
      height: 100%;
      @media screen and (max-width: 550px) {
        font-size: 1rem;
      }
    }
  }
  .item-name {
    display: inline-flex;
    justify-content: center;
  }

  .bicycle-client-container {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 20px;
    width: 100%;
    max-width: 1300px;

    .client-info {
      height: auto;
      padding: 20px;
      border-color: rgba(228, 233, 237, 0.2);
      box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
      overflow-wrap: break-word;
    }

    .client-contacts {
      border-left: solid 1px;
      border-color: rgba(228, 233, 237, 0.8);
    }

    .item-specifications-wrapper {
      display: grid;
      position: relative;
      grid-template-columns: repeat(1, auto);
      grid-template-rows: repeat(auto, auto);
      width: 100%;

      .item-specification {
        display: flex;
        align-items: center;
        width: 100%;
        flex-direction: row;
        min-height: 50px;
        height: auto;
        border-bottom: 1px solid;
        border-color: rgba(228, 233, 237, 0.8);
      }

      .specification-label {
        width: 33%;
        letter-spacing: 1px;
        margin-right: 4px;
        font-size: 0.6875rem;
        color: rgba(51, 51, 51, 0.4);

        @media screen and (max-width: 550px) {
          font-size: 0.5rem;
        }
      }
      .specification-value {
        font-size: 0.875rem;
        width: 100%;
        @media screen and (max-width: 550px) {
          font-size: 0.75rem;
        }
      }
    }

    .client-contacts-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .client-addition-info-container {
        display: flex;

        @media screen and (max-width: 750px) {
          display: flex;
          flex-direction: column;
        }
      }

      .client-wrapper {
        margin-top: 40px;
      }

      .client-additional-info {
        display: inline-block;
        text-align: center;
        padding-left: 15px;
        margin-top: 20px;
      }
      .contact-title {
        font-size: 1.25rem;

        @media screen and (max-width: 550px) {
          font-size: 1rem;
        }
      }
      .contact-value {
        @media screen and (max-width: 550px) {
          font-size: 0.75rem;
        }
      }
    }
  }

  .cursor {
    overflow: hidden;
    width: 48px;
    height: 45px;
    border: solid 1px;
    border-radius: 100%;
    position: fixed;
    z-index: 2;
    transition: all 150ms ease;
    transition-property: opacity;
  }

  .cursor--hidden {
    opacity: 0;
  }

  .image-count {
    margin-left: 3px;
    position: absolute;
    top: 28%;
    font-size: 20px;
  }
}
