.shop-page {
}

.listbox {
	text-align: center;

.list-wrapper ul li {
	display: inline-block;
	text-align:center;
	position: relative;
    max-width: 100%;
    padding:10px;

ul {
	max-width: 100%;
	list-style-type: none;
	}
li {
	font-color: black;
}	
}
}