.shop-page {
}

.list-container {
	display: flex;
	justify-content: center;

.list-wrapper{
	display: flex;
	text-align: center;
	padding: 0px;
	margin-top:10px;
    border-bottom: solid 1.3px;
    border-color: rgba(0, 0, 0, 0.2);

    .category-option {
    	margin: 0px 0px -16px;
    	padding: 20px;
    	list-style-type: none;
    }

    .category-wrapper {
    	padding-left: 0px;
    }

	.active_item {
		border-bottom: solid 1.3px;
		border-color: rgb(0, 0, 0);
	}	
}
}