.favourites-icon {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .icon {
    opacity: 0.7;
    height: 70px;
    width: 90px;
  }

  .icon:hover {
    opacity: 1;
  }

  .item-count {
    color:black;
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    bottom: 3px;
    right:6px;
  }
}
