.header {
  margin-top: 0px;
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;

  .logo {
    display:flex;
    justify-content: flex-start;
    top: -20px;
    height: 120px;
    width: 100px;
    padding-left: 5px;
  }

  .logo-container {
    height: 100%;
    width: 70px;
    padding-top: 5px;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}
