.bicycle-page {
	height:300px;
	width: 300px;
}

.bici-info {
	display: inline-flex;
}

.bici-remove {
	height: 10%;
}

.bici-deletion {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: 25%;
}

.bici-deletion-selection {
	margin-top: 10px;
	display: inline-flex;
}	