.location-filter {
  display: flex;
  flex-direction: column;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: none;
}

.location-label {
  padding: 10px;
}

.measurement-label {
  font-size: 10px;
  padding: 5px;
}
