.ui.sidebar {
  top: 175px !important;
  background-color: rgba(255, 255, 255, 0) !important;
  border: none !important;
  box-shadow: none !important;
  z-index: 1001 !important;

  .menu-item {
    border: none;
  }

  .item {
    display: flex !important;
    justify-content: center;
    height: 200px !important;
  }
}
