.account-dropdown {
  position: absolute;
  right: 20px;
  top: 120px;
  z-index: 99999;

  .ui.accordion {
    padding: 0px;
  }

  .accordion-wrapper {
    min-width: 200px;
    width: 25vw;
    height: auto;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  .ui.accordion .title:not(.ui) {
    padding: 12px;
    border-bottom: 1px solid;
    border-color: rgba(0, 0, 0, 0.1);
  }
  .ui.accordion .accordion-title-last {
    border: none !important;
  }
  .ui.accordion:not(.styled) .title ~ .content:not(.ui) {
    padding: 5px;
  }
  .ui.accordion .active.content {
    border-bottom: 1px solid;
    border-color: rgba(0, 0, 0, 0.1);
  }
}
