.description-update-form {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (max-width: 400px) {
    display: grid;
    grid-template-columns: repeat(3, 83px);
  }

  .add-spec-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 142px;
    height: 53.3px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;

    @media screen and (max-width: 450px) {
      width: 70px;
      height: 53.3px;
    }
  }

  .add-restricred-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 142px;
    height: 53.3px;
    box-shadow: rgba(172, 30, 30, 0.5) 0px 0px 0px 1px;
    @media screen and (max-width: 450px) {
      width: 70px;
      height: 53.3px;
    }
  }
  .spec-select {
    border: none;
    outline: none;
  }
  .description-label-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  .remove-old {
    position: absolute;
    top: -20px;
    right: 0;
    padding: 4px;
    font-size: 9px;
    text-align: center;
  }
  .spec-select {
    width: 84%;
    outline: none;
  }
}
