.select-form {
  padding: 10px;
  letter-spacing: 1px;
  width: 0;

  &:hover {
    width: 100%;
    transition: width 0.3s;
  }
}

.update-form {
  @import "~bootstrap/scss/bootstrap.scss";
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 30px;

  .form-row {
    width: 50%;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .general-update-col {
    display: flex;
    flex-direction: column;
  }

  .update-form-option-container {
    margin-left: 15px;
    padding-top: 8.5px;
    cursor: pointer;

    .select-form {
      padding: 10px;
      cursor: pointer;

      &:hover {
        transition: background-color 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
        background-color: rgba(211, 207, 207, 0.12);
      }
    }
  }

  .input-field-error {
    border-color: #cc0000 !important;
  }

  .error-text {
    padding: 10px;
    position: absolute;
    top: 50px;
    right: 0;
    color: #cc0000;
  }
}
