.select-form {
  padding: 10px;
  letter-spacing: 1px;
  width: 0;
  cursor: pointer;
  height: 10px;

  &:hover {
    transition: color 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition: color 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
    color: rgba(51, 51, 51, 0.6);
  }
}

.update-form {
  @import "~bootstrap/scss/bootstrap.scss";
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 30px;

  .form-row {
    width: 50%;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .general-update-col {
    display: flex;
    flex-direction: column;
  }

  .update-form-option-container {
    margin-left: 15px;
    padding-top: 8.5px;
    cursor: pointer;
  }

  .input-field-error {
    border-color: #cc0000 !important;
  }

  .error-text {
    padding: 10px;
    position: absolute;
    top: 50px;
    right: 0;
    color: #cc0000;
  }
}
