.price-filter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 180px;
}

.confirm {
  color: white;
  font-size: 16px;
  background-color: rgba(51, 51, 51);
  outline: none;
  border: none;
  width: 100%;
  height: 40px;
}

.price-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  width: 70%;
}

.price-labels {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
