.favourite-items-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 5px;

  .empty-message {
    margin: 0 auto;
  }
  .remove-icon {
    font-size: 9px;
  }

  .favourite-item {
    display: flex;
    flex-direction: row;
    padding-right: 5px;
  }
}
