.sign-in-and-sign-up {
  position: relative;
  width: 70%;
  max-width: 1000px;
  height: 600px;
  margin: 30px auto;
  background: rgba(228, 233, 237, 0.2);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  text-align: center;
  .login-error {
    position: absolute;
    color: red;
    top: 133px;
  }
  .sign-options {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }
}
