.sign-in-and-sign-up {
	width: 950px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 30px auto;

	.sign-options {
		padding: 50px;
		display: flex;
		justify-content: center;
	}
}